<nav class="navbar bg-dark border-body sticky-top navbar-expand-lg">
  <div class="container-fluid">
    <button
      class="navbar-toggler focus-ring-info bg-info"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a
            href="#landingHome"
            class="nav-link text-info"
            aria-current="page"
            >{{ navLinks.home.title }}</a
          >
        </li>
        <li class="nav-item">
          <a href="#aboutMe" class="nav-link text-info">{{
            navLinks.about.title
          }}</a>
        </li>
        <li class="nav-item">
          <a href="#contactMe" class="nav-link text-info">{{
            navLinks.contact.title
          }}</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
