<app-header></app-header>
<div class="b-example-divider"></div>
<section>
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <h1 class="display-5 fw-bold text-white pb-5 m-0">Baljinder Singh</h1>
    <div class="overflow-hidden">
      <div class="container px-5">
        <img
          src="/assets/images/avatar.jpeg"
          class="img-fluid border rounded-3 shadow-lg mb-4"
          alt="Example image"
          width="700"
          height="224"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
<div class="b-example-divider"></div>
<section>
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">About Me</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
          Passionate about crafting seamless user experiences and bringing
          designs to life, I am a Junior Frontend Angular Developer with a keen
          eye for detail and a love for clean, efficient code. Armed with a
          solid foundation in HTML, CSS, and JavaScript, I have delved into the
          Angular framework to build dynamic and responsive web applications.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button
            type="button"
            class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            See More
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="b-example-divider"></div>
<section>
  <div class="bg-dark">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3 text-white">
            Vertically centered hero sign-up form
          </h1>
          <p class="col-lg-10 fs-4 text-secondary">
            Below is an example form built entirely with Bootstrap’s form
            controls. Each required form group has a validation state that can
            be triggered by attempting to submit the form without completing it.
          </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">Email address</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="password"
                class="form-control"
                id="floatingPassword"
                placeholder="Password"
              />
              <label for="floatingPassword">Password</label>
            </div>
            <div class="checkbox mb-3">
              <label>
                <input type="checkbox" value="remember-me" /> Remember me
              </label>
            </div>
            <button class="w-100 btn btn-lg btn-primary" type="submit">
              Sign up
            </button>
            <hr class="my-4" />
            <small class="text-body-secondary"
              >By clicking Sign up, you agree to the terms of use.</small
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="b-example-divider"></div>
<app-footer></app-footer>
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          More About Me.
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">🚀 Key Skills:</li>
          <li class="list-group-item">
            Angular: Proficient in creating modular, reusable components and
            implementing two-way data binding for a smoother user interaction.
          </li>
          <li class="list-group-item">
            HTML/CSS: Experienced in crafting pixel-perfect layouts and styles
            to enhance user interfaces.
          </li>
          <li class="list-group-item">
            JavaScript: Familiar with ES6+ features and adept at leveraging
            JavaScript to enhance website interactivity.
          </li>
          <li class="list-group-item">
            Version Control: Skilled in using Git for collaborative development
            and version control.
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
      </div>
    </div>
  </div>
</div>
