<app-header></app-header>
<section>
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-white">Baljinder Singh</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
          Passionate about crafting seamless user experiences and bringing
          designs to life, I am a Junior Frontend Angular Developer with a keen
          eye for detail and a love for clean, efficient code. Armed with a
          solid foundation in HTML, CSS, and JavaScript, I have delved into the
          Angular framework to build dynamic and responsive web applications.
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button
            type="button"
            class="btn btn-outline-info btn-lg px-4 me-sm-3 fw-bold"
          >
            Custom button
          </button>
          <button type="button" class="btn btn-outline-light btn-lg px-4">
            Secondary
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>