<app-header></app-header>
<section id="landingHome">
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <h1 class="display-5 fw-bold text-white pb-5 m-0">{{ landingName }}</h1>
    <div class="overflow-hidden">
      <div class="container px-5">
        <img
          src="/assets/images/avatar.png"
          class="img-fluid border rounded-circle bg-info shadow-lg mb-4"
          alt="Example image"
          width="180"
          height="180"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
<div class="b-example-divider"></div>
<section id="aboutMe">
  <div class="bg-dark text-secondary px-4 py-5 text-center">
    <div class="py-5">
      <h1 class="display-5 fw-bold text-info">{{ aboutMe.title }}</h1>
      <div class="col-lg-6 mx-auto">
        <p class="fs-5 mb-4">
          {{ aboutMe.description }}
        </p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <button
            type="button"
            class="btn btn-outline-info btn-lg px-4 me-sm-3"
            data-bs-toggle="modal"
            data-bs-target="#staticBackdrop"
          >
            {{ aboutMe.seeMoreBtn }}
          </button>
        </div>
      </div>
    </div>
  </div>
</section>
<div class="b-example-divider"></div>
<section id="contactMe">
  <div class="bg-dark">
    <div class="container col-xl-10 col-xxl-8 px-4 py-5">
      <div class="row align-items-center g-lg-5 py-5">
        <div class="col-lg-7 text-center text-lg-start">
          <h1 class="display-4 fw-bold lh-1 mb-3 text-white">
            <p class="display-3 text-info">
              <i>{{contactMe.title1}}</i>
            </p>
            <b>{{contactMe.title2}}</b>
          </h1>
          <p class="col-lg-10 fs-4 text-secondary">
            {{contactMe.title3}}
          </p>
        </div>
        <div class="col-md-10 mx-auto col-lg-5">
          <form class="p-4 p-md-5 border rounded-3 bg-body-tertiary">
            <div class="form-floating mb-3">
              <input
                type="text"
                class="form-control"
                id="floatingInputName"
                placeholder="john doe"
              />
              <label for="floatingInputName">{{contactMe.formControlText.nameLabel}}</label>
            </div>
            <div class="form-floating mb-3">
              <input
                type="email"
                class="form-control"
                id="floatingInput"
                placeholder="name@example.com"
              />
              <label for="floatingInput">{{contactMe.formControlText.emailLabel}}</label>
            </div>
            <button class="w-100 btn btn-lg btn-outline-info" type="submit">
              {{contactMe.formControlText.submitText}}
            </button>
            <hr class="my-4" />
            <small class="text-body-secondary"
              >{{contactMe.formControlText.miniDescription}}</small
            >
          </form>
        </div>
      </div>
    </div>
  </div>
</section>
<app-footer></app-footer>
<!-- Modal -->
<div
  class="modal fade"
  id="staticBackdrop"
  data-bs-backdrop="static"
  data-bs-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="staticBackdropLabel">
          {{ aboutMe.moreAboutMe.title }}
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
          <li class="list-group-item">
            {{ aboutMe.moreAboutMe.keySkills.title }}
          </li>
          <li class="list-group-item">
            {{ aboutMe.moreAboutMe.keySkills.angular }}
          </li>
          <li class="list-group-item">
            {{ aboutMe.moreAboutMe.keySkills.htmlCss }}
          </li>
          <li class="list-group-item">
            {{ aboutMe.moreAboutMe.keySkills.javaScript }}
          </li>
          <li class="list-group-item">
            {{ aboutMe.moreAboutMe.keySkills.versionControl }}
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-info" data-bs-dismiss="modal">
          {{ aboutMe.moreAboutMe.closeBtn }}
        </button>
      </div>
    </div>
  </div>
</div>
